*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}


.container {
    width: 100%;
    height: 100vh;
    background: rgb(9, 3, 85);
    display: flex;
    align-items: center;
    justify-content: center;
  }