.home-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
}

body {
    background: #eeeeee !important;
  }


.home-page {
    background-color: gray;
    color:white;
  }
