/* Styles for the password toggle button */
.password-input-container {
    display: flex;
    align-items: center;
  }

.password-toggle {
    cursor: pointer;
    margin-left: 10px;
}

.password-toggle.visible {
    color: #007bff; /* Change color when visible */
}